<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IronwoodLibrary.Properties.Settings.devon_IronwoodConnectionString"
            connectionString="Data Source=LAPTOP-JACN25K0\DEVON;Initial Catalog=devon_Ironwood;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>